{% extends 'base.html.twig' %}

{% block title %}Le superbe blog{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<table>
{% for article in articles %}
	<tr>
		<table>
			<tr>
				<td rowspan=3, colspan=3>
					<a href="{{ path('article_show', {'id': article.id}) }}">
						<img src="{{ asset('uploads/articles/' ~ article.imageFilename) }}" alt="" border=3 height=100 width=100></img>
					</a>
				</td>
				<td><h2>{{ article.Nom }}</h2></td>
			</tr>
			<tr>
				<td><p>{{ article.DateCreation ? article.DateCreation|date('Y-m-d') : '' }}</p></td>
			</tr>
			<tr>
				<td>{{ article.Description }}</td>
			</tr>
		</table>
	</tr>
{% else %}
	<tr>
		<td colspan="5">Aucun article n'a été créé</td>
	</tr>
{% endfor %}
</table>

{% if app.user %}
	<a href="{{ path('article_index') }}">Administration</a>
{% endif %}
{% endblock %}
