{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.Description }}</td>
            </tr>
            <tr>
                <th>Date_Creation</th>
                <td>{{ article.DateCreation ? article.DateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% if app.user %}
    <a href="{{ path('article_index') }}">Retour à l'administration</a>
	<a href="{{ path('article_edit', {'id': article.id}) }}">Éditon</a>
{% endif %}

	<a href="{{ path('blog') }}">Accueil</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
